<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

<div class="container">
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Email</th>
        <th>Data de Nascimento</th>
        <th>Sexo</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.PessoaId }}</td>
        <td>{{ user.Nome }}</td>
        <td>{{ user.Email }}</td>
        <td>{{ user.DataNascimento }}</td>
        <td>{{ user.Sexo }}</td>
        <td>
          <div class="button-list">
            <a (click)="editUser(user)" title="Editar"><i class="fas fa-pencil-alt"></i></a>
            <a (click)="deleteUser(user.id)" title="Excluir"><i class="fas fa-trash"></i></a>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>