<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

<div class="container">
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Email</th>
        <th>Data de Nascimento</th>
        <th>Sexo</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.PessoaId }}</td>
        <td>
          <ng-container *ngIf="!user.editing">{{ user.Nome }}</ng-container>
          <ng-container *ngIf="user.editing">
            <input [(ngModel)]="user.Nome" />
          </ng-container>
        </td>
        <td>
          <ng-container *ngIf="!user.editing">{{ user.Email }}</ng-container>
          <ng-container *ngIf="user.editing">
            <input [(ngModel)]="user.Email" />
          </ng-container>
        </td>
        <td>
          <ng-container *ngIf="!user.editing">{{ user.DataNascimento }}</ng-container>
          <ng-container *ngIf="user.editing">
            <input [(ngModel)]="user.DataNascimento" />
          </ng-container>
        </td>
        <td>
          <ng-container *ngIf="!user.editing">{{ user.Sexo }}</ng-container>
          <ng-container *ngIf="user.editing">
            <input [(ngModel)]="user.Sexo" />
          </ng-container>
        </td>
        <td>
          <div class="button-list">
            <a (click)="editUser(user)" title="Editar">
              <i class="fas fa-pencil-alt"></i>
            </a>
            <a (click)="saveUser(user)" *ngIf="user.editing" title="Salvar">
              <i class="fas fa-save"></i>
            </a>
            <a (click)="deleteUser(user.PessoaId)" title="Excluir">
              <i class="fas fa-trash"></i>
            </a>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
